admin.html
<!DOCTYPE html>
<html ng-app="" ng-cloak>
  <head>
    <meta charset="UTF-8">
    <title>管理后台</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="css/datepicker3.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="css/my.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="css/load.css" type="text/css" charset="utf-8">
  </head>
  <body ng-controller="adminCtrl" ng-init="tab='init'" class="container">
    <div class="row">
      <div class="col-md-2 class-ul">
        <ul class="nav bs-sidenav bs-sidebar">
          <li><a href="./">返回首页</a></li>
          <li ng-click="tab='jiaoxuelouGuanLi'"><a>教学楼管理</a></li>
          <li ng-click="tab='jiaoshiGuanLi'"><a>教室管理</a></li>
          <li ng-click="tab='yonghuGuanLi'"><a>用户管理</a></li>
        </ul>
      </div>
      <div ng-show="tab=='init'" class="col-md-7 ng-row-top">
        <h1>请选择对应的模块</h1>
      </div>
      <div ng-show="tab=='jiaoxuelouGuanLi'" class="col-md-7 ng-row-top">
        <form ng-submit="clickJiaoxuelouSave()">
          <div ng-repeat="lou in jiaoxuelou" class="row">
            <input ng-value="lou.name"><span ng-click="jiaoxuelouDel($index)" class="glyphicon glyphicon-trash"></span><span>{{lou.id}}</span>
          </div>
          <div class="row">
            <input ng-model="jiaoxuelouNew"><span ng-click="jiaoxuelouAdd()" class="glyphicon glyphicon-floppy-disk"></span><span>{{$index}}</span>
          </div>
          <input type="submit">
        </form>
      </div>
      <div ng-show="tab=='jiaoshiGuanLi'" class="col-md-7 ng-row-top">
        <select ng-model="louNow" ng-options="lou.name for lou in jiaoxuelou">
          <option value="">请选择</option>
        </select>
        <form ng-submit="clickjiaoshiSave()" ng-show="louNow">
          <div ng-repeat="js in jiaoshi|filter:{jiaoxuelou_id:louNow.id}:true" class="row">
            <input ng-value="js.jiaoshi_name"><span ng-click="jiaoshiDel(js.jiaoshi_id)" class="glyphicon glyphicon-trash"></span>
          </div>
          <div class="row">
            <input ng-model="jiaoshiNew"><span ng-click="jiaoshiAdd()" class="glyphicon glyphicon-floppy-disk"></span>
          </div>
          <input type="submit">
        </form>
      </div>
      <div ng-show="tab=='yonghuGuanLi'" class="col-md-7 ng-row-top">
        <h1>用户管理</h1>
        <div class="row">
          <form role="form" class="form-inline">
            <div class="form-group">
              <input id="exampleInputEmail2" type="text" placeholder="用户名" ng-model="username1" class="form-control">
            </div>
            <div class="form-group">
              <input id="exampleInputPassword2" type="password" placeholder="密码" ng-model="password1" class="form-control">
            </div>
            <button type="submit" ng-click="userDo(&quot;userAdd&quot;)" class="btn btn-default">添加用户</button>
            <button type="submit" ng-click="userDo(&quot;userPassReset&quot;)" class="btn btn-default">重置密码</button><span class="alert">{{col1Msg}}</span>
          </form>
          <form role="form" class="form-inline">
            <div class="form-group">
              <input id="exampleInputEmail2" type="text" placeholder="用户名" ng-model="username2" class="form-control">
            </div>
            <button type="submit" ng-click="userDo(&quot;userDel&quot;)" class="btn btn-default">删除用户</button>
            <button type="submit" ng-click="userDo(&quot;setAdmin&quot;)" class="btn btn-default">设为管理员</button>
            <button type="submit" ng-click="userDo(&quot;cancelAdmin&quot;)" class="btn btn-default">取消管理员</button><span class="alert">{{col2Msg}}</span>
          </form>
        </div>
      </div>
    </div>
    <script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap-datepicker.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/my.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/admin.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular-animate.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>

jade/admin.jade
doctype html
include head.jade
html(ng-app="" ng-cloak)
    head
        mixin head("管理后台")
    body.container(ng-controller='adminCtrl',ng-init="tab='init'")
        .row
            //- 左边栏
            .col-md-2.class-ul
                ul.nav.bs-sidenav.bs-sidebar
                    li
                        a(href="./") 返回首页
                    li(ng-click="tab='jiaoxuelouGuanLi'")
                        a 教学楼管理
                    li(ng-click="tab='jiaoshiGuanLi'")
                        a 教室管理
                    li(ng-click="tab='yonghuGuanLi'")
                        a 用户管理
            //- 右边主体部分
            .col-md-7.ng-row-top(ng-show="tab=='init'")
                h1 请选择对应的模块
                
            .col-md-7.ng-row-top(ng-show="tab=='jiaoxuelouGuanLi'")
                form(ng-submit="clickJiaoxuelouSave()")
                    .row(ng-repeat='lou in jiaoxuelou')
                        input(ng-value="lou.name")
                        span.glyphicon.glyphicon-trash(ng-click="jiaoxuelouDel($index)")
                        span {{lou.id}}
                    .row
                        input(ng-model="jiaoxuelouNew")
                        span.glyphicon.glyphicon-floppy-disk(ng-click="jiaoxuelouAdd()")
                        span {{$index}}
                    input(type="submit")
            //- 教学楼管理
            .col-md-7.ng-row-top(ng-show="tab=='jiaoshiGuanLi'")
                select(ng-model="louNow",ng-options="lou.name for lou in jiaoxuelou")
                    option(value="") 请选择
                form(ng-submit="clickjiaoshiSave()" ng-show='louNow')
                    .row(ng-repeat="js in jiaoshi|filter:{jiaoxuelou_id:louNow.id}:true")
                        input(ng-value="js.jiaoshi_name")
                        span.glyphicon.glyphicon-trash(ng-click="jiaoshiDel(js.jiaoshi_id)")
                    .row
                        input(ng-model="jiaoshiNew")
                        span.glyphicon.glyphicon-floppy-disk(ng-click="jiaoshiAdd()")
                    input(type="submit")
            .col-md-7.ng-row-top(ng-show="tab=='yonghuGuanLi'")
                h1 用户管理
                .row
                    include admin-user.jade
                    //- input(type="submit") 添加用户
                    //- input(type="submit") 删除用户
                    //- input(type="submit") 设置管理员
                    //- input(type="submit") 取消管理员

                //- todo  添加用户 删除用户 查找  设置取消管理员
        mixin script
        
