index.html
<!DOCTYPE html>
<html ng-app="ngAnimate">
  <head>
    <meta charset="UTF-8">
    <title>教室管理系统</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="css/datepicker3.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="css/my.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="css/load.css" type="text/css" charset="utf-8">
  </head>
  <body ng-controller="mainCtrl">
    <header role="banner" class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="./" class="navbar-brand">教室管理系统</a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://www.hnust.cn/" target="_blank">科大主页</a></li>
            <li><a href="http://kdjw.hnust.cn/kdjw/" target="_blank">科大教务网</a></li>
            <li><a href="http://xxjw.hnust.cn/xxjw/" target="_blank">潇湘教务网</a></li>
            <li><a href="./admin.html" target="_blank">管理后台</a></li>
            <li><a href="#footer">关于</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right ng-cloak">
            <li ng-show="!login.isLogin" ng-click="loginPost()"><a>登录</a></li>
            <li ng-show="login.isLogin"><a>{{login.username}}({{login.nickname}})</a></li>
            <li ng-show="login.isLogin"><a ng-click="logout()">点击注销</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <ul id="loader">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div id="controller" ,style="display:none" class="container ng-cloak">
      <div class="row">
        <div class="col-md-2 class-ul">
          <ul class="nav bs-sidenav bs-sidebar">
            <li ng-repeat="lou in jiaoxuelou" ng-click="setlouNow(lou)"><a>{{lou.name}}</a></li>
          </ul>
        </div>
        <div class="col-md-7">
          <h3>当前教学楼:{{louNow.name}} 快速过滤:
            <input type="text" name="" value="" ng-model="louFilter">
          </h3>
          <div id="table-animate">
            <table id="state-table" class="table table-bordered table-hover">
              <tr>
                <td>教学楼</td>
                <td>01</td>
                <td>02</td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
                <td>07</td>
                <td>08</td>
                <td>09</td>
                <td>10</td>
              </tr>
              <tr ng-repeat="js in jiaoshi|filter:{jiaoxuelou_id:louNow.id}:true|filter:find" class="animate-repeat">
                <td>{{js.jiaoshi_name}}</td>
                <td ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" ng-click="clickTd(js.jiaoshi_id,i)">{{showTd(js,$index)}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div id="sandbox-container">
            <input id="toDay" type="text" value="{{toDay|date:'yyyy-MM-dd'}}" readonly="">
            <div class="box"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <hr>
        <h2 ng-init="debug=false" ng-click="debug=!debug" class="ding-foot">Debug</h2>
        <div ng-if="debug">State:
          <pre>\n{{State|json}}          </pre>
          <!--StateArray:{{StateArray}}
          --><br>louFilter:{{louFilter}}<br>louNow:{{louNow}}<br>toDay:{{toDay|date:'yyyy-MM-dd HH:mm:ss'}}<br>jiaoshi:{{jiaoshi}}
          <hr>jiaoxuelou:
          <pre>\n{{jiaoxuelou|json}}}          
</pre>
        </div>
      </div>
      <div id="other" class="row">
        <div id="lookup-modal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 class="modal-title">{{modalLookupTitle}}(绿色部分点击可编辑)</h4>
                <table class="table table-bordered table-hover">
                  <tr>
                    <td>日期:</td>
                    <td>{{toDay|date:'yyyy-MM-dd'}}</td>
                  </tr>
                  <tr>
                    <td>时间:</td>
                    <td>第{{"零一二三四五六七八九十"[lookupModal.occupy]}}节课</td>
                  </tr>
                  <tr>
                    <td>教室:</td>
                    <td>{{lookupModal.jiaoshi_name}}</td>
                  </tr>
                  <tr>
                    <td>预订人:</td>
                    <td>{{lookupModal.username}}({{lookupModal.usernick}})</td>
                  </tr>
                  <tr>
                    <td>简单描述(6字以内):</td>
                    <td contenteditable="contenteditable" class="success">
                      <input type="" name="" value="" ng-model="lookupModal.tips">
                    </td>
                  </tr>
                  <tr>
                    <td>具体描述:</td>
                    <td contenteditable="contenteditable" class="success">
                      <input type="" name="" value="" ng-model="lookupModal.the_usage">
                    </td>
                  </tr>
                </table>
              </div>
              <div style="text-align: center; margin-top: 0px;" class="modal-footer"><span id="msgbox" style="opacity: 1; padding: 9px;" ng-show="lookupModal.msg.length" class="alert alert-danger">{{lookupModal.msg}}</span>
                <button type="button" data-dismiss="modal" class="btn btn-primary">关闭</button>
                <button type="button" ng-click="save('save')" class="btn btn-success">保存</button>
                <button type="button" ng-click="save('del')" class="btn btn-danger">删除</button>
              </div>
            </div>
          </div>
        </div>
        <div id="modal-login" ng-keyup="modalLoginKey($event)" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 class="modal-title">登录</h4>
              </div>
              <div class="row">
                <div style="margin-top: 27px;" class="col-md-offset-3">
                  <form role="form" class="form-horizontal">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">用户名:</label>
                      <div class="col-sm-6">
                        <input id="inputEmail3" type="text" ng-model="username" placeholder="学号" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">密码:</label>
                      <div class="col-sm-6">
                        <input id="inputPassword3" type="password" ng-model="password" placeholder="密码" class="form-control">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer"><span id="msgbox" style="opacity: 1; padding: 9px;" ng-show="loginMsg.length" class="alert alert-danger">{{loginMsg}}</span>
                <button type="button" data-dismiss="modal" class="btn btn-default btn-lg">关闭</button>
                <button type="button" ng-click="loginPost()" class="btn btn-primary btn-lg">登录</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer id="footer" role="contentinfo" class="bs-footer">
        <div class="container">
          <p>All Copyright Reserved ©2013-2014 e纯</p>
          <p>Any bug please contact<a href="mailto:hi@hi-hi.cn">hi@hi-hi.cn</a></p>
        </div>
      </footer>
    </div>
    <script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap-datepicker.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/my.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/admin.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular-animate.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>


<header role="banner" class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="./" class="navbar-brand">教室管理系统</a>
    </div>
    <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://www.hnust.cn/" target="_blank">科大主页</a></li>
        <li><a href="http://kdjw.hnust.cn/kdjw/" target="_blank">科大教务网</a></li>
        <li><a href="http://xxjw.hnust.cn/xxjw/" target="_blank">潇湘教务网</a></li>
        <li><a href="./admin.html" target="_blank">管理后台</a></li>
        <li><a href="#footer">关于</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ng-cloak">
        <li ng-show="!login.isLogin" ng-click="loginPost()"><a>登录</a></li>
        <li ng-show="login.isLogin"><a>{{login.username}}({{login.nickname}})</a></li>
        <li ng-show="login.isLogin"><a ng-click="logout()">点击注销</a></li>
      </ul>
    </nav>
  </div>
</header>

jade/index.jade
doctype html
include head.jade
html(ng-app="ngAnimate")
	head
		mixin head("教室管理系统")
	body(ng-controller='mainCtrl')
		include index-nav.jade
		ul#loader
			li
			li
			li
			li
			li
			li
			li
			li
		.container.ng-cloak#controller(,style="display:none")
			.row
				//- 左边栏
				.col-md-2.class-ul
					ul.nav.bs-sidenav.bs-sidebar
						li(ng-repeat='lou in jiaoxuelou', ng-click='setlouNow(lou)')
							a {{lou.name}}
				//- 右边主体部分
				.col-md-7
					h3 当前教学楼:{{louNow.name}} 快速过滤:
						input(type='text', name='', value='', ng-model='louFilter')
					div#table-animate
						table.table.table-bordered.table-hover#state-table
							//- 表头
							tr
								td 教学楼
								-for item in ['01','02','03','04','05','06','07','08','09','10']
									td=item
								
							tr.animate-repeat(ng-repeat='js in jiaoshi|filter:{jiaoxuelou_id:louNow.id}:true|filter:find')
								td {{js.jiaoshi_name}}
								td(ng-repeat='i in [1,2,3,4,5,6,7,8,9,10]', ng-click='clickTd(js.jiaoshi_id,i)') {{showTd(js,$index)}}
				.col-md-3
					//- 登录框
					//- #userinf
					//- 	div(ng-show='login.isLogin')
					//- 		h3
					//- 			| {{login.username}}({{login.nickname}})
					//- 			span(ng-click='logout()') 点击注销
					//- 	div(ng-show='!login.isLogin', ng-click='loginPost()')
					//- 		h3 你还没有登录
					#sandbox-container
						input#toDay(type='text', value='{{toDay|date:\'yyyy-MM-dd\'}}', readonly='')
						//- div供日历控件使用
						div.box
			//- debug栏
			.row
				hr 
				//- *****************************************debug*****************************************
				h2.ding-foot(ng-init='debug=false', ng-click='debug=!debug') Debug
				div(ng-if='debug')
					| State:
					pre.
						\n{{State|json}}          
					//
						StateArray:{{StateArray}}
					br
					| louFilter:{{louFilter}}
					br
					| louNow:{{louNow}}
					br
					| toDay:{{toDay|date:'yyyy-MM-dd HH:mm:ss'}}
					br
					| jiaoshi:{{jiaoshi}}
					hr
					| jiaoxuelou:
					pre.
						\n{{jiaoxuelou|json}}}          

			#other.row
				//- 新增信息框
				#lookup-modal.modal
					.modal-dialog
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
								h4.modal-title {{modalLookupTitle}}(绿色部分点击可编辑)
								table.table.table-bordered.table-hover
									tr
										td 日期:
										td {{toDay|date:'yyyy-MM-dd'}}
									tr
										td 时间:
										td 第{{"零一二三四五六七八九十"[lookupModal.occupy]}}节课
									tr
										td 教室:
										td {{lookupModal.jiaoshi_name}}
									tr
										td 预订人:
										td {{lookupModal.username}}({{lookupModal.usernick}})
									tr
										td 简单描述(6字以内):
										td.success(contenteditable='contenteditable')
											input(type='', name='', value='', ng-model='lookupModal.tips')
									tr
										td 具体描述:
										td.success(contenteditable='contenteditable')
											input(type='', name='', value='', ng-model='lookupModal.the_usage')
							.modal-footer(style='text-align: center; margin-top: 0px;')
								span#msgbox.alert.alert-danger(style='opacity: 1; padding: 9px;', ng-show='lookupModal.msg.length') {{lookupModal.msg}}
								button.btn.btn-primary(type='button', data-dismiss='modal') 关闭
								button.btn.btn-success(type='button', ng-click='save(\'save\')') 保存
								button.btn.btn-danger(type='button', ng-click='save(\'del\')') 删除
				//- 登陆框	
				#modal-login.modal(ng-keyup='modalLoginKey($event)')
					.modal-dialog
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
								h4.modal-title 登录
							.row
								.col-md-offset-3(style='margin-top: 27px;')
									form.form-horizontal(role='form')
										.form-group
											label.col-sm-2.control-label(for='inputEmail3') 用户名:
											.col-sm-6
												input#inputEmail3.form-control(type='text', ng-model='username', placeholder='学号')
										.form-group
											label.col-sm-2.control-label(for='inputPassword3') 密码:
											.col-sm-6
												input#inputPassword3.form-control(type='password', ng-model='password', placeholder='密码')
							.modal-footer
								span#msgbox.alert.alert-danger(style='opacity: 1; padding: 9px;', ng-show='loginMsg.length') {{loginMsg}}
								button.btn.btn-default.btn-lg(type='button', data-dismiss='modal')
									| 关闭
								button.btn.btn-primary.btn-lg(type='button', ng-click='loginPost()')
									| 登录
			footer.bs-footer#footer(role='contentinfo')
				.container
					p All Copyright Reserved ©2013-2014 e纯
					p Any bug please contact
						a(href='mailto:hi@hi-hi.cn') hi@hi-hi.cn
		mixin script("教室管理系统")
